.rating {
  background-color: #ffc300;
  border-radius: 25px;
  color: black;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  margin: 1em;
  padding: 2px;
  width: 50px;
}

.rating-container {
  display: flex;
  flex-direction:row-reverse;
}
