.rating {
  background-color: #ffc300;
  border-radius: 25px;
  color:black;
  display:flex;
  justify-content:center;
  font-size: 16px;
  font-weight: 700;
  padding: 2px;
  margin:1em;
  width:50px;
}

.rating-container{
  display:flex;
  flex-direction:row-reverse;
}
